body {
	font-family: 'Press Start 2P', cursive;
}

.center-text {
	text-align: center;
}

.clickable {
	cursor: pointer;
	cursor: hand;
}

.background {
	background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;
	margin: 0 auto;
}

.background td {
	padding: 0;
}

.wall {
	background-color: black;
	border: 1px solid #fff;
}

.actor-layer {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.menu {
	margin: 0 auto;
	display: table;
}

.menu > * {
	/*display: inline;*/
	vertical-align: middle;
}

.rand-play-wrapper {
	float: right;
}

.rand-play-wrapper > * {
	display: inline-block;
	vertical-align: middle;
}

.rand-play {
	margin-right: 30px;
}

.rand-play-num {
	font-size: 18px;
	margin-right: 20px;
	text-align: center;
	min-width: 36px;
}

.rand-play-num-container {
	background-color: rgba(163,173,184,1);
	border-radius: 30px;
	padding: 6px 30px;
}

.rand-play-num-container > * {
	display: inline-block;
	vertical-align: middle;
}

.triangle-container > * {
	display: block;
	opacity: 0.65;
}

.triangle-container > *:active {
	opacity: 1;
}

button.button {
	font-family: 'Press Start 2P', cursive;
    border: 0;
    box-shadow: none;
    padding: 15px 30px;
    border-radius: 30px;
    color: #FFF;
    box-shadow: inset 0 0 0 1px #27496d;
    text-shadow: -2px 2px #333;
    transition: box-shadow 0.35s ease;
}

.up-triangle {
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid black;
}

.down-triangle {
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid black;
	margin-top: 6px;
}

button.button:hover {
	box-shadow: inset 0 0 0 1px #27496d,0 1px 1px #193047;
}

button.button:active {
	box-shadow: inset 0 0 0 1px #27496d,inset 0 3px 20px #193047;
}

button.button.norm-play {
	/*margin: 3px;*/
	background-color: rgba(78,97,114,1);
}

button.button.rand-play {
	background-color: rgba(97,51,24,1);
}

.block {
	box-sizing: border-box;
	border: 1px solid #fff;
	background-color: #ccc;
	position: absolute;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.player {
	border: 1px solid #fff;
	background-color: blue;
}

.enemy {
	border: 1px solid #fff;
	background-color: red;
}

.game {
  padding: 60px;
  margin: 0 auto; 
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.panel {
	display: block;
	position: relative;
	padding: 50px;
}
.score {
	position: absolute;
	left: 0;
	font-size: 20px;
}

.lives {
	position: absolute;
	right: 0;
	display: inline-block;
}

.lives div {
	display: inline-block;
}

.gameOverInner {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 420px;
    font-size: 46px;
    height: 50px;
}