body {
	font-family: 'Press Start 2P', cursive;
	overflow-x: hidden; 
}

.center-text {
	text-align: center;
}

.clickable {
	cursor: pointer;
	cursor: hand;
}

.background {
	background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;
	margin: 0 auto;
}

.item {
	position: absolute;
}

/*
.item.blastPowder {
    background: red;
    width: 20px;
    height: 20px;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20deg);
}
.item.blastPowder:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: red;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}

.item.coin {
	width: 20px;
	height: 20px;
	background: red;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.item.quartz {
	width: 20px;
	height: 10px;
	background: red;
}
.item.quartz:before {
	content: "";
	position: absolute;
	top: -8px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 8px solid red;
}
.item.quartz:after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 8px solid red;
}

.item.metalScraps {

  box-shadow:
    -5px 6px 0 0px red,
    6px 0px 0 0px red,
    -5px -6px 0 0px red,
    6px -5px 0 0px red,
    0px 7px 0 0px red,
    8px 9px 0 0px red,
    -6px -7px 0 0px red,
    5px -11px 0 0px red;

    background: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    overflow: hidden;

}
*/
.background td {
	padding: 0;
}

.inventory-overlay {
	position: absolute;
    right: -750px;
    top: 0;
    bottom: 0;
    width: 800px;
    background-color: rgba(213, 117, 0, 1);
    z-index: 1050;
}

.wall {
	background-color: black;
	border: 1px solid #fff;
}

.actor-layer {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.menu {
	margin: 0 auto;
	display: table;
}

.menu > * {
	/*display: inline;*/
	vertical-align: middle;
}

.rand-play-wrapper {
	float: right;
}

.rand-play-wrapper > * {
	display: inline-block;
	vertical-align: middle;
}

.rand-play {
	margin-right: 30px;
}

.rand-play-num {
	font-size: 18px;
	margin-right: 20px;
	text-align: center;
	min-width: 36px;
}

.rand-play-num-container {
	background-color: rgba(163,173,184,1);
	border-radius: 30px;
	padding: 6px 30px;
}

.rand-play-num-container > * {
	display: inline-block;
	vertical-align: middle;
}

.triangle-container > * {
	display: block;
	opacity: 0.65;
}

.triangle-container > *:active {
	opacity: 1;
}

button.button {
	font-family: 'Press Start 2P', cursive;
    border: 0;
    box-shadow: none;
    padding: 15px 30px;
    border-radius: 30px;
    color: #FFF;
    box-shadow: inset 0 0 0 1px #27496d;
    text-shadow: -2px 2px #333;
    transition: box-shadow 0.35s ease;
}

.up-triangle {
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid black;
}

.down-triangle {
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid black;
	margin-top: 6px;
}

button.button:hover {
	box-shadow: inset 0 0 0 1px #27496d,0 1px 1px #193047;
}

button.button:active {
	box-shadow: inset 0 0 0 1px #27496d,inset 0 3px 20px #193047;
}

button.button.norm-play {
	/*margin: 3px;*/
	background-color: rgba(78,97,114,1);
}

button.button.rand-play {
	background-color: rgba(97,51,24,1);
}

.block {
	box-sizing: border-box;
	border: 1px solid #fff;
	position: absolute;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 2px 0px #27496d;
	transition: top 0.15s ease;
	-webkit-transition: top 0.15s ease;
	-moz-transition: top 0.15s ease;
}

.player {
	border: 1px solid #fff;
	background-color: blue;
}

.enemy {
	border: 1px solid #fff;
	background-color: red;
}

.game {
  padding: 60px;
  box-sizing: content-box;
  margin: 0 auto; 
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.panel {
	display: block;
	position: relative;
	padding: 50px;
}
.score {
	position: absolute;
	left: 0;
	font-size: 20px;
}

.lives {
	position: absolute;
	right: 0;
	display: inline-block;
}

.lives div {
	display: inline-block;
}

.gameOverInner {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 420px;
    font-size: 46px;
    height: 50px;
}